<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>歡迎光臨，請註冊登入系統</h1>
    <h2>註冊帳號</h2>
    <form action="{{ url_for('signup') }}" method="POST">
        <label for="name">姓名：</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="username">帳號：</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">密碼：</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="註冊">
    </form>
    <hr>
    <h2>登入系統</h2>
    <form action="{{ url_for('signin') }}" method="POST">
        <label for="loginUsername">帳號：</label>
        <input type="text" id="loginUsername" name="username" required>
        <br>
        <label for="loginPassword">密碼：</label>
        <input type="password" id="loginPassword" name="password" required>
        <br>
        <input type="submit" value="登入">
    </form>
    <hr>
</body>
</html>
